@media (min-width: 751px) {
  #docsearch-container {
    min-width: 136px !important;
  }
}

// .mask {
//   background: url("https://www.giaott.com/images/2022/06/30/7525.jpg") center center / cover no-repeat !important;
// }

.project-panel .project {
  width: calc(100% - 40px) !important;
}

.project-panel .project0 {
  background: #B2FEFA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0ED2F7, #B2FEFA) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0ED2F7, #B2FEFA) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}